@font-face {
  font-family: 'Libre Baskerville';
  src: url("../assets/fonts/LibreBaskervile-regular/LibreBaskerville-Regular.eot");
  src: url("../assets/fonts/LibreBaskervile-regular/LibreBaskerville-Regular.eot") format("embedded-opentype"), url("../assets/fonts/LibreBaskervile-regular/LibreBaskerville-Regular.woff2") format("woff2"), url("../assets/fonts/LibreBaskervile-regular/LibreBaskerville-Regular.woff") format("woff"), url("../assets/fonts/LibreBaskervile-regular/LibreBaskerville-Regular.ttf") format("truetype"), url("../assets/fonts/LibreBaskervile-regular/LibreBaskerville-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EB Garamond';
  src: url("../assets/fonts/EBGaramon-mediumItalic/EBGaramond-MediumItalic.eot");
  src: url("../assets/fonts/EBGaramon-mediumItalic/EBGaramond-MediumItalic.eot") format("embedded-opentype"), url("../assets/fonts/EBGaramon-mediumItalic/EBGaramond-MediumItalic.woff2") format("woff2"), url("../assets/fonts/EBGaramon-mediumItalic/EBGaramond-MediumItalic.woff") format("woff"), url("../assets/fonts/EBGaramon-mediumItalic/EBGaramond-MediumItalic.ttf") format("truetype"), url("../assets/fonts/EBGaramon-mediumItalic/EBGaramond-MediumItalic.svg") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Awesome Season Personal Use';
  src: url("../assets/fonts/AwesomeSeasonRegular/AwesomeSeasonPersonalUse-Regula.eot");
  src: url("../assets/fonts/AwesomeSeasonRegular/AwesomeSeasonPersonalUse-Regula.eot") format("embedded-opentype"), url("../assets/fonts/AwesomeSeasonRegular/AwesomeSeasonPersonalUse-Regula.woff2") format("woff2"), url("../assets/fonts/AwesomeSeasonRegular/AwesomeSeasonPersonalUse-Regula.woff") format("woff"), url("../assets/fonts/AwesomeSeasonRegular/AwesomeSeasonPersonalUse-Regula.ttf") format("truetype"), url("../assets/fonts/AwesomeSeasonRegular/AwesomeSeasonPersonalUse-Regula.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: "EB Garamond";
  font-size: 17px;
}

h2 {
  font-family: "Libre Baskerville";
  font-size: 25px;
}

section {
  margin-top: 10rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 20px;
  z-index: 1;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.navigation ul li {
  list-style: none;
}

.navigation ul li a {
  color: #cccccc;
  padding-right: 20px;
  text-decoration: none;
}

.navigation ul li a:hover {
  color: white;
}

.recent-news h1 {
  text-align: center;
  margin-bottom: 6rem;
  font-family: "Awesome Season Personal Use";
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20rem;
}

.news:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  background-color: rgba(219, 219, 219, 0.13);
}

.news-picture {
  width: 50rem;
}

.news-picture img {
  width: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.news-info {
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.news-info ul {
  list-style: none;
  padding: 5px 0 0 0;
}

.jk-slider {
  width: 100%;
  margin-top: 0;
}

/*          Hero Headers        */
/********************************/
.hero {
  position: absolute;
  top: 35%;
  left: 50%;
  z-index: 3;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.hero h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  font-size: 6em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  height: 735px;
  -o-object-fit: fill;
  object-fit: fill;
  width: 100%;
}

.fade-carousel .carousel-inner .item .hero {
  opacity: 0;
  -webkit-transition: 2s all ease-in-out .1s;
  -moz-transition: 2s all ease-in-out .1s;
  -ms-transition: 2s all ease-in-out .1s;
  -o-transition: 2s all ease-in-out .1s;
  transition: 2s all ease-in-out .1s;
}

.fade-carousel .carousel-inner .item.active .hero {
  opacity: 1;
  -webkit-transition: 2s all ease-in-out .1s;
  -moz-transition: 2s all ease-in-out .1s;
  -ms-transition: 2s all ease-in-out .1s;
  -o-transition: 2s all ease-in-out .1s;
  transition: 2s all ease-in-out .1s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #080d15;
  opacity: .7;
}

.card-img-top.card-img-top-250 img {
  -o-object-fit: contain;
  object-fit: contain;
  height: 100%;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */